{% load static %}
<!-- Main header start -->
<!-- Log on to codeastro.com for more projects -->
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo"> <!-- Add actual logo -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <!-- Home -->
                    <li class="nav-item">
                        {% if request.path == '/' %}
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                        {% endif %}
                    </li>

                    <!-- Cars -->
                    <li class="nav-item">
                        <a class="nav-link {% if 'cars' in request.path %}active{% endif %}"
                            href="{% url 'cars' %}">Cars</a>
                    </li>

                    <!-- Services -->
                    <li class="nav-item">
                        <a class="nav-link {% if 'services' in request.path %}active{% endif %}"
                            href="{% url 'services' %}">Our Services</a>
                    </li>

                    <!-- About -->
                    <li class="nav-item">
                        <a class="nav-link {% if 'about' in request.path %}active{% endif %}"
                            href="{% url 'about' %}">About</a>
                    </li>

                    <!-- Contact -->
                    <li class="nav-item">
                        <a class="nav-link {% if 'contact' in request.path %}active{% endif %}"
                            href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'about' in request.path %}active{% endif %}"
                            href="{% url 'about' %}">Talk with AI</a>
                    </li>

                    <!-- Search Icon -->
                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->